{
  "proseWrap": "never",
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "bracketSameLine": true
}
